<!DOCTYPE html>
<html>
<head>
  <title>Octopub</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div>
  <% if current_user %>
    <%= current_user.username %>
  <% else %>
    <%= link_to "Sign in through GitHub", '/auth/github' %>
  <% end %>
</div>

<%= yield %>

</body>
</html>
